/* Add CSS Styling */
.odd-numbered {
    background-color: lightpink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#id-1 {
    color: blue;
    font-size: 36px;
}

.font{
    font-size: 24px;
}

#id-2 {
    background-color: lightgreen;
    font-weight: bold;
}