body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

body * {
  border: 5px solid white;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin: 0;
  font-size: 16px;
  border-top: 15px solid white;
}

.content {
  background: #e3f4ff;
  padding: 15px 6px;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 8px 16px;
}